{include file="public:header" /}
   <!---banner-->
 	<div class="wqp-banner swiper-container-horizontal">
        <ul class="swiper-wrapper">
            
            {volist name="scroll_list" id ='s'}
            <li class="swiper-slide" pc-img="{$s.thumb}" mobile-img="{$s.thumb}">
                <a href="#">
                    <img width=1440 height =225 src="{$s.thumb}">
                </a>
            </li>
            {/volist}
            
        </ul>
        <div class="wqp-bannerbtn"></div>
    </div>
    <!--banner end-->
   
   
    <!--content-->
    <div class="wwmain">
        <div class="wwmaincon">
        
            <div class="wwindexnews indexpos">
                <div class="web">
                    
                    <ul class="clearfix">
                        
                       {volist name='article_list' id='vo'}
                        <li class="col-sm-6 col-lg-3">
                            <a href="{$vo.url}">
                                <span><img src="{$vo.thumb}" height="220" /></span>
                                <h4>{$vo.title}</h4>
                                <p>{$vo.description}</p>
                            </a>
                        </li>
                        {/volist}
                        
                    </ul>
                    {$page}
                 </div>
            </div>
         
            
        </div>
    </div>
    

    <!--content-->

<!--footer-->

{include file="public:footer" /}

<!---footer end-->

<div class="rightmenuin">
  <div class="ico-box ico06 backtop"></div>
</div>

<script src="__PUBLIC__/2016/js/jquery-1.12.2.min.js"></script>
<script src="__PUBLIC__/2016/js/idangerous.swiper.min.js"></script>
<script src="__PUBLIC__/2016/js/layout.js"></script>

</body>
</html>